https://*.local.localhost {
	@app host app.local.localhost
	@auth host auth.local.localhost

	handle @app {
		file_server
	}

	handle @auth {
		handle /api/* {
			reverse_proxy :8000
		}
		handle /admin* {
			reverse_proxy :8000
		}
		handle /static* {
			reverse_proxy :8000
		}
		handle /accounts/* {
			reverse_proxy :8000
		}
		handle * {
			reverse_proxy :3000
		}
	}
}
