{
	# do not attempt to install certs on the docker container
	skip_install_trust
}

(localTLS) {
	tls internal {
		on_demand
	}
}

(localSubnets) {
	@localSubnets remote_ip private_ranges
}

import *.caddy
