{
	# do not attempt to install certs on the docker container
	skip_install_trust
}

(localSubnets) {
	@localSubnets remote_ip private_ranges
}

https://*.local.bhargav.io {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_API_PASSWORD}
		}
	}
	import *.caddy
}
